.wrapper {
    display: flex;
    box-sizing: border-box;
    width: 80%;
    min-width: 450px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    background-color: yellow;
    flex-wrap: wrap;
    border: 5px solid white; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header {
    width: 100%;
    min-width: 450px;
    height: 15%;
    box-sizing: border-box;
    border: 5px solid white;
}
.article {
    height: 65%;
    width: 60%;
    box-sizing: border-box;
    border: 5px solid white;
}
.nav {
    height: 65%;
    width: 20%;
    box-sizing: border-box;
    border: 5px solid white;
}
.ads {
    height: 65%;
    width: 20%;
    box-sizing: border-box;
    border: 5px solid white;
}
.footer {
    height: 20%;
    width: 100%;
    box-sizing: border-box;
    border: 5px solid white;
}