.wrapper{
    display: grid;
    background-color: black;
    width: 500px;
    height: 600px;
    /* grid-template-columns: 100px 80px 70px; */
    /* grid-template-columns: 2fr 3fr 1fr; */
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-rows: 100px 80px 70px 100px;
    /* grid-template-rows: repeat(4, 100px) */
    grid-template-areas: 
    "blue red red red red"
    "blue yellow yellow yellow green"
    "blue yellow yellow yellow green"
    "purple purple purple purple green";
    gap: 5px;
    /* justify-items: stretch; */
    /* align-items: start; */
    /* align-content: center; */
    /* justify-content: center; */
    align-content: space-around;
}
.red { 
    background-color: red;
    grid-area: red;
    /* height: 40px; */
    /* width: 200px; */
}
.yellow {
    background-color: yellow;
    grid-area: yellow;
    /* align-self: end; */
    
}
.purple {
    background-color: purple;
    grid-area: purple;
    
}
.blue {
    background-color: blue;
    grid-area: blue;
    
}
.green {
    background-color: green;
    grid-area: green;
}