.circle { 
position: relative;
animation-name: circle;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: linear;
animation-play-state: running;

}
.circle:hover {
    animation-play-state: paused;
}

@keyframes circle {
    from {
        width: 200px;
        height: 200px;
        border-radius:50%;
        background-color: red;
        left: 50px;
    }
    20% {
        width: 300px;
        height: 300px;
        border-radius:10px;
        background-color: yellow;
        left: 50px;
        top: 200px;
    }
    40% {
        width: 200px;
        height: 200px;
        border-radius:50%;
        background-color: purple;
    }
    60% {
        width: 250px;
        height: 250px;
        border-radius:10px;
        background-color: grey;
    }
    80% {
        width: 200px;
        height: 200px;
        border-radius:50%;
        background-color: palevioletred;
    }
    to {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        background-color: green;
    }
}

.button {
    background-color: lightcoral;
    transition: background-color 1s, font-size 4s;
    /* transition: 4s; */
}

.button:hover {
    background-color: lightcoral;
    font-size: 30px;
    }