/* * {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
    
.wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.block {
    background-color: beige;

} */
 .main {
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    
 }
 .button {
    background-color: bisque;
    border: 2px solid green;
    border-radius: 10%;
    width: 100px;
    height: 50px;
    text-align: center;
 }
 .button_cat1 {
    background-color: rgb(209, 200, 35);
    border: 2px solid green;
    border-radius: 10%;
    width: 100px;
    height: 50px;
    text-align: center;
 }
 .button_cat2 {
    background-color: rgb(200, 93, 197);
    border: 2px solid green;
    border-radius: 10%;
    width: 100px;
    height: 50px;
    text-align: center;
 }
 .button_dog {
    background-color: rgb(214, 41, 41);
    border: 2px solid green;
    border-radius: 10%;
    width: 100px;
    height: 50px;
    text-align: center;
 }
 .hover-div >span:hover {
    color: blue;
    /* cursor: not-allowed; */
    /* cursor: zoom-out; */
    cursor: crosshair;
    background-color: aqua;
 }
 